footer(style='background-color:#000000;')
  .footer
  .container-fluid
    .row.justify-content-md-center
      .col-lg-5.text-center.mt-5.mb-1
        p
          | 11615 Hartel Rd, Grand Ledge MI 48837 
          br
          | 866-526-3978 
          br
          | info@etinspires.com
       .col-lg-5
         .text-center.center-block.mt-5.mb-1
           a(target='_blank', href='https://www.facebook.com/garethsanasheefitness/')
             i#social-sm.fa.fa-facebook
           a(href='#')
             i#social-sm.fa.fa-twitter
           a(href='#')
             i#social-sm.fa.fa-google-plus
           a(href='https://www.instagram.com/garethsanashee/?hl=en')
             i#social-sm.fa.fa-instagram
