extends layout.jade
block content
  section#content 
  script(src='/javascripts/about.js')
  body.bg-dark

  .homepicture1(style='background-color:#DDDDDD;')
  .container-fullwidth
    iframe(width='100%', height='800', src='https://www.youtube.com/embed/yY8WNF18MxE', frameborder='0', allowfullscreen='')


      .aboutme(style='background-color:#DDDDDD;')
  .container-fluid
    .row.justify-content-md-center
      .col-lg-8.text-center.mt-5.mb-1

        h2.text-center.my-5.font-italic(style='color:green;')
            | TONY ROBBINS IS AN ENTREPRENEUR, BEST-SELLING AUTHOR, PHILANTHROPIST,
            | AND THE NATION’S #1 LIFE AND BUSINESS STRATEGIST.

        p.text-center.text-white.font-italic(style='font-size:2rem;')
            | He is the author of six internationally bestselling books, including most recently New York Times #1 bestsellers UNSHAKEABLE:
            | Your Financial Freedom Playbook and MONEY: Master the Game. Robbins has empowered more than 50 million people from 100 countries
            | through his audio, video and life training programs. He created the #1 personal and professional development program of all time,
            | and more than 4 million people have attended his live seminars. 

   .aboutimage
      img.card-img(src='images/etclassroom.jpeg', alt='Card image')



      .aboutme(style='background-color:#DDDDDD;')
  .container-fluid
    .row.justify-content-md-center
      .col-lg-8.text-center.mt-5.mb-1

        p.text-center.text-white.font-italic(style='font-size:2rem;')
            | He is the author of six internationally bestselling books, including most recently New York Times #1 bestsellers UNSHAKEABLE:
            | Your Financial Freedom Playbook and MONEY: Master the Game. Robbins has empowered more than 50 million people from 100 countries
            | through his audio, video and life training programs. He created the #1 personal and professional development program of all time,
            | and more than 4 million people have attended his live seminars. 

   .aboutimage
      img.card-img(src='images/eric-thomas.jpg', alt='Card image')

     .aboutme(style='background-color:#DDDDDD;')
  .container-fluid
    .row.justify-content-md-center
      .col-lg-8.text-center.mt-5.mb-1

        p.text-center.text-white.font-italic(style='font-size:2rem;')
            | He is the author of six internationally bestselling books, including most recently New York Times #1 bestsellers UNSHAKEABLE:
            | Your Financial Freedom Playbook and MONEY: Master the Game. Robbins has empowered more than 50 million people from 100 countries
            | through his audio, video and life training programs. He created the #1 personal and professional development program of all time,
            | and more than 4 million people have attended his live seminars. 

   .aboutimage1
      img.card-img(src='images/etawards.jpg', alt='Card image')


     .stayconnected.bg-dark
  .container-fluid
   .row.justify-content-md-center
    .col-lg-5.text-center.mt-5.mb-1
      h1.text-white WANT TO STAY CONNECTED WITH ET?
      a.btn.btn-info.btn-lg.my-5(href='/contact', type='button') CLICK HERE 




    

      



   
