extends layout.jade
block content
  section#content 
  body.bg-dark
  img.card-img.mainimage(src='images/etfaded.jpg', alt='Card image')
  .card-img-overlay
  i.icn-person.material-icons.text-white.text-center error
  p.lead.text-white.text-center.m-t-2= message 