extends layout.jade
block content
  section#content 
  body.bg-dark

  img.card-img.homepicture(src='images/etblue.jpeg', alt='Card image')
  .card-img-overlay
    h4.intro ERIC THOMAS, PHD 
    h6.intro1 When You Want To Succeed As Bad As You Want To Breath...
    a.btn.btn-info.mb-3.signupnow(href='/quiz', type='button') TAKE THE QUIZ
    a.btn.btn-light.mb-3.signupnow(href='/shop', type='button') SHOPPING

  .container.text-center.bg-dark
    h3.text-white.my-5.display-4 WHAT'S NEW
    h5.text-white.mb-3.display-4 MEET ERIC AT THE UPCOMING EVENTS
    .row.justify-content-center
      .card-deck
        .col-lg-4.my-3
          .card
            img.card-img(style='height:250px;', src='images/etpreach.jpg', alt='Card image cap')
            .card-img-overlay.font-weight-bold.homecardimg
              p.card-text
              | LOS ANGELES
              br
              | THE GRIND BEFORE THE GRIND
              br
              | 21/12/2017
              br
              | 15:00

              a.btn.btn-info.reviewbtn.mb-3(href='/events', type='button') LIVE EVENTS
        .col-lg-4.my-3
          .card
            img.card-img(style='height:250px;', src='images/etawards.jpg', alt='Card image cap')
            .card-img-overlay.font-weight-bold.homecardimg 
              p.card-text
              | LONDON 
              br
              | MONDAY MOTIVATION
              br
              | 13/01/2018
              br
              | 18:00
              a.btn.btn-info.reviewbtn.mb-3(href='/events', type='button') LIVE EVENTS
        .col-lg-4.my-3
           .card
            img.card-img(style='height:250px;', src='images/etbw.jpg', alt='Card image cap')
            .card-img-overlay.font-weight-bold.homecardimg
              p.card-text
              | DUBAI 
              br
              | BEAST MODE
              br
              | 23/02/2018
              br
              | 20:00
              a.btn.btn-info.reviewbtn.mb-3(href='/events', type='button') LIVE EVENTS

  .container.text-center.bg-dark
    h5.text-white.my-3.display-4 CHECK OUT ERICS LATEST BLOGS
    .row.justify-content-center
      .card-deck
        .col-lg-4.my-3
          .card
            img.card-img(style='height:250px;', src='images/etgreyjump.jpg', alt='Card image cap')
            .card-img-overlay.font-weight-bold.homecardimg
              p.card-text
              | IT'S YOUR TIME TO SHINE
              p.card-text
              | “Your legacy is being written by yourself. Make the right decisions.”
              a.btn.btn-info.reviewbtn.mb-3(href='/blog', type='button') BLOG
        .col-lg-4.my-3
          .card
            img.card-img(style='height:250px;', src='images/eric-thomas-quotes.jpg', alt='Card image cap')
            .card-img-overlay.font-weight-bold.homecardimg 
              p.card-text
              |FAIL, FAIL AND FAIL
              p.card-text
              | “Your legacy is being written by yourself. Make the right decisions.” 
              a.btn.btn-info.reviewbtn.mb-3(href='/blog', type='button') BLOG
        .col-lg-4.my-3 
           .card
            img.card-img(style='height:250px;', src='images/etfaded.jpg', alt='Card image cap')
            .card-img-overlay.font-weight-bold.homecardimg
              P.card-text 
              | IT'S ALL IN THE MIND
              p.card-text
              | “Your legacy is being written by yourself. Make the right decisions.” 
              a.btn.btn-info.reviewbtn.mb-3(href='/blog', type='button') BLOG

  .container.text-center.bg-dark
    h5.text-white.my-3.display-4 PURCHASE ERIC THOMAS BOOKS 
    .row.justify-content-center
      .card-deck
        .col-lg-4.my-3
          .card
            img.card-img(style='height:250px;', src='images/eric-thomas.jpg', alt='Card image cap')
            .card-img-overlay.font-weight-bold.homecardimg
              p.card-text
              | THE SUCCESS STORY OF ERIC
              a.btn.btn-info.reviewbtn.mb-3(href='/shop', type='button') SHOP
        .col-lg-4.my-3
          .card
            img.card-img(style='height:250px;', src='images/etbw.jpg', alt='Card image cap')
            .card-img-overlay.font-weight-bold.homecardimg 
              p.card-text
              | 24 HOUR BEAKDOWN
              a.btn.btn-info.reviewbtn.mb-3(href='/shop', type='button') SHOP
        .col-lg-4.my-3
           .card
            img.card-img(style='height:250px;', src='images/etshh.png', alt='Card image cap')
            .card-img-overlay.font-weight-bold.homecardimg
              p.card-text
              | PATIENCE 
              a.btn.btn-info.reviewbtn.mb-3(href='/shop', type='button') SHOP

  .card.mt-5
            img.card-img.review(src='images/screaminget.jpg', alt='Card image cap')
            .card-img-overlay
              p.card-text.text-center.font-weight-bold.reviewtext.text-white
                | CHECK OUT OUR GALLERY FROM LOS ANGELES 
                a.btn.btn-info.reviewbtn(href='/lagallery', type='button') GALLERY

  .card
       img.card-img.review.reviewopacity(src='images/ethandsup.png', alt='Card image cap')
       .card-img-overlay
         p.card-text.text-center.font-weight-bold.reviewtext.my-5
           | DON'T BE SHY, ANY QUESTIONS GET IN TOUCH WITH US!
           a.btn.btn-info.reviewbtn(href='/contact', type='button') GET IN TOUCH





















