extends layout.jade
block content
  section#content 
  body.bg-light

   img.card-img.mainimage(src='images/etthink.jpg', alt='Card image')
  .card-img-overlay
   h4.contactintro.text-center.mt-5.mainimagetext LOS ANGELES GALLERY
   h4.contactintro.text-center.mt-1.mainimagetext CHECK US OUT

    .container
  .row.justify-content-md-center.ml-1.mr-1
    .col-lg-8.text-center.mt-5.mb-1
      h1.mb-1 GALLERY
      p.text-center.mb-1
            |Thanks for checking in! You made it to "The Spot!" Whether on the road or on social media,
            | we're always creating new and relevant content with you in mind. We travel quite a deal
            | throughout the year and chances are, we'll be In a city near you!
            | So, please take a moment to check out our various events, tour dates, and locations.
            | We'd love to see you there!!
 

  .container.imageGallery
    .lightbox-gallery.hoverlife.mt-3.mb-5
      div
        img(src='images/etblue.jpeg', alt='IMAGE')
      div
        img(src='images/etblue.jpeg', alt='IMAGE')
      div
        img(src='images/etblue.jpeg', alt='IMAGE')
      div
        img(src='images/etblue.jpeg', alt='IMAGE')
      div
        img(src='images/etblue.jpeg', alt='IMAGE')
      div
        img(src='images/etblue.jpeg', alt='IMAGE')
      div
        img(src='images/etblue.jpeg', alt='IMAGE')
      div
        img(src='images/etblue.jpeg', alt='IMAGE')
      div
        img(src='images/etblue.jpeg', alt='IMAGE')


        .stayconnected.bg-dark
  .container-fluid.bg-dark
   .row.justify-content-md-center
    .col-lg-5.text-center.mt-5.mb-1
      h1.text-white WANT TO STAY CONNECTED WITH ET?
      a.btn.btn-info.btn-lg.my-5(href='/contact', type='button') CLICK HERE 







