extends layout.jade
block content
  section#content 
  body.bg-dark

    img.card-img.mainimage(src='images/etbw.jpg', alt='Card image')
  .card-img-overlay
    h4.contactintro.text-center.mt-5.mainimagetext THE STORE
    h4.contactintro.text-center.mt-1.mainimagetext ORDER NOW
      
      .aboutme(style='background-color:#DDDDDD;')
  .container-fluid
    .row.justify-content-md-center
      .col-lg-8.text-center.mt-3
        h2.text-center.my-3.display-4.font-weight-bold.eventsheader.text-white(style='color:black;')
          | UPGRADE YOURSELF
        p.text-center.abouttext.text-white(style='color:black;')
          | He is the author of six internationally bestselling books, including most recently New York Times #1 bestsellers UNSHAKEABLE:
          | Your Financial Freedom Playbook and MONEY: Master the Game. Robbins has empowered more than 50 million people from 100 countries
          | through his audio, video and life training programs. He created the #1 personal and professional development program of all time,
          | and more than 4 million people have attended his live seminars.  

  .blog
  .container.my-5.text-center
    h1.text-white.display-4 WHAT'S IN STORE
    .row
      .col-md
        .card.mt-5.border-0
        
            .box.rounded.bg-primary
              .card
               
              img.card-img(style='height:250px;', src='images/etblue.jpeg', alt='Card image cap')
              p.card-text.mt-3.text-white.font-weight-bold THE GRIND BEFORE THE GRIND
              p.card-text.mt-1.text-white.font-weight-bold £9.99
              .overlay
              button.btn.btn-lg.btn-light.font-weight-bold.mb-3.mx-1(type='button', data-toggle='modal', data-target='#ModalLong101')
                  | PRODUCT INFO
              button.btn.btn-lg.btn-success.font-weight-bold.mb-3.mx-1(type='button')
                  | ADD TO CART
              

      .col-md
        .card.mt-5.border-0
        
            .box.rounded.bg-primary
              .card
               
              img.card-img(style='height:250px;', src='images/etblue.jpeg', alt='Card image cap')
              p.card-text.mt-3.text-white.font-weight-bold THE GRIND BEFORE THE GRIND
              p.card-text.mt-1.text-white.font-weight-bold £9.99
              .overlay
              button.btn.btn-lg.btn-light.font-weight-bold.mb-3.mx-1(type='button', data-toggle='modal', data-target='#ModalLong102')
                  | PRODUCT INFO
              button.btn.btn-lg.btn-success.font-weight-bold.mb-3.mx-1(type='button')
                  | ADD TO CART

      

      .col-md
        .card.mt-5.border-0
        
            .box.rounded.bg-primary
              .card
               
              img.card-img(style='height:250px;', src='images/etblue.jpeg', alt='Card image cap')
              p.card-text.mt-3.text-white.font-weight-bold THE GRIND BEFORE THE GRIND
              p.card-text.mt-1.text-white.font-weight-bold £9.99
              .overlay
              button.btn.btn-lg.btn-light.font-weight-bold.mb-3.mx-1(type='button', data-toggle='modal', data-target='#ModalLong103')
                  | PRODUCT INFO
              button.btn.btn-lg.btn-success.font-weight-bold.mb-3.mx-1(type='button')
                  | ADD TO CART
      
      .w-100


      .col-md
        .card.mt-5.border-0
        
            .box.rounded.bg-primary
              .card
               
              img.card-img(style='height:250px;', src='images/etblue.jpeg', alt='Card image cap')
              p.card-text.mt-3.text-white.font-weight-bold THE GRIND BEFORE THE GRIND
              p.card-text.mt-1.text-white.font-weight-bold £9.99
              .overlay
              button.btn.btn-lg.btn-light.font-weight-bold.mb-3.mx-1(type='button', data-toggle='modal', data-target='#ModalLong104')
                  | PRODUCT INFO
              button.btn.btn-lg.btn-success.font-weight-bold.mb-3.mx-1(type='button')
                  | ADD TO CART
              

      .col-md
        .card.mt-5.border-0
        
            .box.rounded.bg-primary
              .card
               
              img.card-img(style='height:250px;', src='images/etblue.jpeg', alt='Card image cap')
              p.card-text.mt-3.text-white.font-weight-bold THE GRIND BEFORE THE GRIND
              p.card-text.mt-1.text-white.font-weight-bold £9.99
              .overlay
              button.btn.btn-lg.btn-light.font-weight-bold.mb-3.mx-1(type='button', data-toggle='modal', data-target='#ModalLong105')
                  | PRODUCT INFO
              button.btn.btn-lg.btn-success.font-weight-bold.mb-3.mx-1(type='button')
                  | ADD TO CART

      

      .col-md
        .card.mt-5.border-0
        
            .box.rounded.bg-primary
              .card
               
              img.card-img(style='height:250px;', src='images/etblue.jpeg', alt='Card image cap')
              p.card-text.mt-3.text-white.font-weight-bold THE GRIND BEFORE THE GRIND
              p.card-text.mt-1.text-white.font-weight-bold £9.99
              .overlay
              button.btn.btn-lg.btn-light.font-weight-bold.mb-3.mx-1(type='button', data-toggle='modal', data-target='#ModalLong106')
                  | PRODUCT INFO
              button.btn.btn-lg.btn-success.font-weight-bold.mb-3.mx-1(type='button')
                  | ADD TO CART
     
            //START OF POP UPS              
            #ModalLong101.modal.fade.mt-5(tabindex='-1', role='dialog', aria-labelledby='ModalLongTitle', aria-hidden='true')
                .modal-dialog.modal-lg.bg-light(role='document')
                    .modal-content
                    .modal-header
                        h5#ModalLongTitle.modal-title Modal title
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                        
                    .modal-body
                        | sophie
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close

            #ModalLong102.modal.fade.mt-5(tabindex='-1', role='dialog', aria-labelledby='ModalLongTitle', aria-hidden='true')
                .modal-dialog.modal-lg.bg-light(role='document')
                    .modal-content
                    .modal-header
                        h5#ModalLongTitle.modal-title Modal title
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                        
                    .modal-body
                        | Lucas
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close

            #ModalLong103.modal.fade.mt-5(tabindex='-1', role='dialog', aria-labelledby='ModalLongTitle', aria-hidden='true')
                .modal-dialog.modal-lg.bg-light(role='document')
                    .modal-content
                    .modal-header
                        h5#ModalLongTitle.modal-title Modal title
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                        
                    .modal-body
                        | Naomi
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close

            #ModalLong104.modal.fade.mt-5(tabindex='-1', role='dialog', aria-labelledby='ModalLongTitle', aria-hidden='true')
                .modal-dialog.modal-lg.bg-light(role='document')
                    .modal-content
                    .modal-header
                        h5#ModalLongTitle.modal-title Modal title
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                        
                    .modal-body
                        | SANTA
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close

            #ModalLong105.modal.fade.mt-5(tabindex='-1', role='dialog', aria-labelledby='ModalLongTitle', aria-hidden='true')
                .modal-dialog.modal-lg.bg-light(role='document')
                    .modal-content
                    .modal-header
                        h5#ModalLongTitle.modal-title Modal title
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                        
                    .modal-body
                        | THEO
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close

            #ModalLong106.modal.fade.mt-5(tabindex='-1', role='dialog', aria-labelledby='ModalLongTitle', aria-hidden='true')
                .modal-dialog.modal-lg.bg-light(role='document')
                    .modal-content
                    .modal-header
                        h5#ModalLongTitle.modal-title Modal title
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                        
                    .modal-body
                        |JOHN
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close




  

    
 

         
       
  
    

   

   

        


    
    







                          
                                                
                    

                        
                                                       
                        


    
  
            
    

    
                          
                                                
                    

                        
                                                       
                        


    
  
            
    