extends layout.jade
block content
  section#content 
  body.bg-dark

   img.card-img.mainimage(src='images/eric-thomas-quotes.jpg', alt='Card image')
  .card-img-overlay
   h4.contactintro.text-center.mt-5.mainimagetext.text-danger SIGNNN UPPPP NOT
   h4.contactintro.text-center.mt-1.mainimagetext.text-dark CHECK US OUT

    .container
  .row.justify-content-md-center.ml-1.mr-1
    .col-lg-8.text-center.mt-5.mb-1
      h1.mb-1.text-white BLOG
      p.text-center.mb-1.text-white
            |Thanks for checking in! You made it to "The Spot!" Whether on the road or on social media,
            | we're always creating new and relevant content with you in mind. We travel quite a deal
            | throughout the year and chances are, we'll be In a city near you!
            | So, please take a moment to check out our various events, tour dates, and locations.
            | We'd love to see you there!!

   .main.container
   .row.justify-content-center
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        // register form
        form(method='POST' action='/signup')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first and last' name='name')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='favoriteBook') Favorite Book:
            input#favoriteBook.form-control(type='text', placeholder='title of book' name='favoriteBook')
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password' name='password')
          div.form-group
            label(for='pw2') Confirm Password:
            input#pw2.form-control(type='password' name='confirmPassword')
          button.btn.btn-primary(type='submit') Sign up
