/*---------------------------------------------------START OF GET IN TOUCH PAGE -----------------------------------*/
.error{
    color:red;
}
    
.emailsentmsg{
    position: relative;
    top:3em;
    font-size: 60px;
}
    
/*------------------------------------END OF GET IN TOUCH----------------------------------------------------*/
    